/* Standard table styling */
table.standard {
	color: #FFFFFF;
	border: 1px solid #7B5121;
	border-spacing: 0px;
}
table.standard td, table.standard th {
	border: 1px solid #7B5121;
}
table.standard th {
	text-align:center;
	color:#808080;
	background-color:#3E2911;
	font-weight:bold;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	color: #f2a648;
}

input  {
	background: #111;
	color: #FFF;
	border: 2px solid #7B5121;
}

input.submit  {
	border: 2px outset #7B5121;
}
input.submit:hover  {
	cursor: pointer;
}
input.submit:active {
	border: 2px inset #7B5121;
}
/* We repeat with a selector because not all submits are guaranteed to have the submit class, but selector's don't work in IE6 (and others?) */
input[type="submit"]  {
	border: 2px outset #7B5121;
}
input[type="submit"]:hover  {
	cursor: pointer;
}
input[type="submit"]:active {
	border: 2px inset #7B5121;
}

textarea {
	background: #111;
	color: #FFF;
	border: 2px solid #7B5121;
}

/* Current Sector Navigation Box Colours */
div.secNavBox div div {
	border: 2px solid #7B5121;
}
div.secNavBox a:hover {
	font-size: 115%;
	font-weight: bold;
}
.move_hover a:hover {
	background-color: #222;
}
.scan_hover {
	background-color: #3E2911;
}
.scan_hover a {
	background-color: #3E2911;
	color: #000;
}
.scan_hover a:hover {
	background-color: #3E2911;
}
.move_warp a:hover {
	background-color: #500000;
}

.lastVisited {
   color: #C27618;
}
.visited, .currentSector {
   color: #F2A648;
}
.unvisited {
   color: #FFFF00;
}

/*Used for CS */
table.csShips th.header {
	background: #500;
}
table.csForces th.header {
	background: #005;
}

/* Used for planets */
.uninhab {
   color: #FF0000;
}
.inhab {
   color: #00FF00;
}

/* LM */
div.connectSeclm {
	background-color: #7B5121;
}
div.connectSeclm:hover {
	background-color: #6B6131;
}
div.currentSeclm {
	background-color:#7B5121;
}
div.currentSeclm2 {
	background: url('../images/currentsector.png');
	_background: none; /* Disable transparent image for IE6 as it can't handle it */
}
div.currentSeclm:hover {
	background-color: #8B7131;
}

div.normalSeclm {
	background-color: #3E2911;
}
div.normalSeclmu {
	background-color: #000;
}