body{
	background:#082010;
	font-family: Arial, sans-serif;
	font-variant:normal;
	margin:0px;
	padding:0px;
	margin-top:10px;
	color:#ffffff;
}
a.nobord {
	text-decoration:none;
}
img {
	border: 0px none;
	padding: 0px;
}
.InputFields {
	background : #06240E;
	color : #FFFFFF;
	border : 1px solid #80C870;
	font-family: Arial;
}
table.standard {
	border:1px solid #0b8d35;
	border-spacing: 0px;
}
.standard td {
	border:1px solid #0b8d35;
}
.standard th {
	border:1px solid #0b8d35;
	background-color: #0A4E1D;
	color: #80C870;
}
input.inputbox {
	width:123px;
	height:20px;
}
a {
	color:#ffffff;
	text-decoration:none;
	padding:0px;
	margin:0px;
}

a:hover {
	background:#0A4E1D;
}

a.header {
	color:#80C870;
}

.yellow {
	color:#ffff00;
}
.red {
	color:#ff0000;
}
span.small {
	font-size:75%;
}
.bold {
	font-weight:bold;
}
.dgreen {
	color: #008000;
}
.center {
	text-align: center;
}
table.center {
	margin:auto;
}
.collapsed, table.collapsed, table.collapsed tr, table.collapsed th, table.collapsed td {
	border: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}
input.uncollapse {
	font-size: 15px;
}
table.nobord {
	border: 0px;
}
