.locationt1 {
	background-image: url("../images/government.gif")!important;
}
.locationt2 {
	background-image: url("../images/beacon.gif")!important;
}
.locationt3 {
	background-image: url("../images/weapon_shop.gif")!important;
}
.locationt4 {
	background-image: url("../images/shipdealer.gif")!important;
}
.locationt5 {
	background-image: url("../images/shipdealer.gif")!important;
}
.locationt6 {
	background-image: url("../images/hardware.png")!important;
}
.locationt7 {
	background-image: url("../images/bank.png")!important;
}
.locationt8 {
	background-image: url("../images/bar.gif")!important;
}
.locationt9 {
	background-image: url("../images/hardware.png")!important;
}
.location102 {
	background-image: url("../images/underground.gif")!important;
}
.planets {
	width: 16px;
	height: 16px;
	padding: 0;
	background-image: url("../images/planet.gif")!important;
}
.warp {
	width: 16px;
	height: 16px;
	padding: 0;
	background-image: url("../images/warp.png")!important;
}
.holy {
	color: #1DFF00;
}
.good {
	color: #7FFF00;
}
.slightgood {
	color: #CDFF00;
}
.even {
	color: #F7FF00;
}
.slightbad {
	color: #FF8D00;
}
.bad {
	color: #FF5C00;
}
.evil {
	color: #FF5C00;
}
/* Connecting icons */
div.lmUp.con, div.lmDown.con {
	background: url('../images/link_hor.gif') no-repeat center!important;
}
div.lmLeft.con, div.lmRight.con {
	background: url('../images/link_ver.gif') no-repeat center!important;
}