
/*** CS Stuff ***/
div.secNavBox
{
	position: relative;
}
div.secNavBox div.scan
{
	position: relative;
	width: 250px;
	height: 250px;
}
div.secNavBox div.no_scan
{
	position: relative;
	width: 210px;
	height: 210px;
	top: -20px;
	left: -20px;
}
div.secNavBox div.scan_up
{
	position: absolute;
	top: 0px;
	left: 84px;
}
div.secNavBox div.move_up
{
	position: absolute;
	top: 22px;
	left: 84px;
}
div.secNavBox div.scan_left
{
	position: absolute;
	top: 84px;
	left: 0px;
}
div.secNavBox div.move_left
{
	position: absolute;
	top: 84px;
	left: 22px;
}
div.secNavBox div.cs_mid
{
	position: absolute;
	top: 84px;
	left: 84px;
}
div.secNavBox div.scan_right
{
	position: absolute;
	top: 84px;
	left: 208px;
}
div.secNavBox div.move_right
{
	position: absolute;
	top: 84px;
	left: 146px;
}
div.secNavBox div.scan_down
{
	position: absolute;
	top: 208px;
	left: 84px;
}
div.secNavBox div.move_down
{
	position: absolute;
	top: 146px;
	left: 84px;
}
div.secNavBox div.scan_warp
{
	position: absolute;
	top: 161px;
	left: 221px;
}
div.secNavBox div.move_warp
{
	position: absolute;
	top: 161px;
	left: 159px;
}
.scan_text_vert
{
	width: 20px;
	height: 60px;
}
.scan_text_vert a
{
	float:left;
	width: 20px;
	font-size: 90%;
	text-align: center;
	line-height: 15px;
}
.scan_text_hor
{
	width: 60px;
	height: 20px;
}
.scan_text_hor a
{
	float:left;
	width: 60px;
	font-size: 90%;
	text-align: center;
	line-height: 20px;
}
.move_text
{
	width: 60px;
	height: 60px;
	font-weight: bold;
	text-align: center;
}
.move_text a
{
	float:left;
	width: 60px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
}



/* General */
.bold
{
	font-weight: bold;
}
.italic
{
	font-style: italic;
}
.underline
{
	text-decoration: underline;
}
.smallCaps
{
	font-variant: small-caps;
}
.smallFont
{
	font-size: 75%;
}
.inset
{
	width: 95%;
}
.fullwidth
{
	width: 100%;
}
.fullheight
{
	height: 100%;
}
.right
{
	text-align: right;
}
.center
{
	text-align: center;
}
.nopad
{
	margin: 0px;
	padding: 0px;
}
.noWrap
{
	white-space: nowrap;
}
.auto
{
	width: auto;
}
.shrink
{
	width: 1px;
}
.top
{
	vertical-align: top;
}
.blank
{
	margin: 0px;
	padding: 0px;
}
.shiplistdescription
{
	white-space: nowrap;
}
.newbie
{
	font-style: italic;
}
.clear {
	clear: both; /* don't change clear is required to end floats */
}
.stars {
	background-image: url(../images/MainBackground.gif);
}

/* Colours */
.yellow {
   color: #FFFF00;
}
.red {
   color: #FF0000;
}
.green {
   color: #00FF00;
}
.dgreen {
   color: #00AA00;
}
.cyan {
   color: #00FFFF;
}
.blue {
   color:#0000FF;
}
.purple {
   color: #7F00FF;
}
.npcColor {
   color: #66CCFF;
}
.sectorColor {
   color: #00FFFF;
}

/* GP */
.gpsubheader
{
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;
}
.gpeditornote
{
	font-size: smaller;
}
.gpcolumn
{
	width: 50%;
	vertical-align: top;
}

/* More */


table.standardnobord
{
	border: 0px;
}
.standardnobord tr,.standardnobord td,.standardnobord th
{
	border: 0px;
}

div.buttonA
{
	margin: 0px;
	font-size: 100%;
	height: 1.0em;
	display: inline;
}
a.buttonA 
{
	font-size: inherit;
	text-decoration: none;
	height: 1.0em;
	display: inline;
	border: 2px solid;
	color: #FFFFFF;
	white-space: nowrap;
}