th {
	font-size: 110%;
	text-align: center;
	padding: 3px;
}
td {
	padding: 3px;
	vertical-align: middle;
}
/* wep drop down */
div.wep_drop1 {
	cursor: pointer;
	width:100%
}

/*** CS Stuff ***/
div.secNavBox
{
	position: relative;
}
div.secNavBox div.scan
{
	position: relative;
	width: 250px;
	height: 250px;
}
div.secNavBox div.no_scan
{
	position: relative;
	width: 210px;
	height: 210px;
	top: -20px;
	left: -20px;
}
div.secNavBox div.scan_up
{
	position: absolute;
	top: 0px;
	left: 84px;
}
div.secNavBox div.move_up
{
	position: absolute;
	top: 22px;
	left: 84px;
}
div.secNavBox div.scan_left
{
	position: absolute;
	top: 84px;
	left: 0px;
}
div.secNavBox div.move_left
{
	position: absolute;
	top: 84px;
	left: 22px;
}
div.secNavBox div.cs_mid
{
	position: absolute;
	top: 84px;
	left: 84px;
}
div.secNavBox div.scan_right
{
	position: absolute;
	top: 84px;
	left: 208px;
}
div.secNavBox div.move_right
{
	position: absolute;
	top: 84px;
	left: 146px;
}
div.secNavBox div.scan_down
{
	position: absolute;
	top: 208px;
	left: 84px;
}
div.secNavBox div.move_down
{
	position: absolute;
	top: 146px;
	left: 84px;
}
div.secNavBox div.scan_warp
{
	position: absolute;
	top: 161px;
	left: 221px;
}
div.secNavBox div.move_warp
{
	position: absolute;
	top: 161px;
	left: 159px;
}
.scan_text_vert
{
	width: 20px;
	height: 60px;
}
.scan_text_vert a
{
	display:block;
	width: 20px;
	font-size: 90%;
	text-align: center;
	line-height: 15px;
}
.scan_text_hor
{
	width: 60px;
	height: 20px;
}
.scan_text_hor a
{
	display:block;
	width: 60px;
	font-size: 90%;
	text-align: center;
	line-height: 20px;
}
.move_text
{
	width: 60px;
	height: 60px;
	font-weight: bold;
	text-align: center;
}
.move_text a
{
	display:block;
	width: 60px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
}



/* General */
.attack_warning {
	text-align: center;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}
.admin {
	font:small-caps bold;
	color:blue;
}
.bold
{
	font-weight: bold;
}
.italic
{
	font-style: italic;
}
.underline
{
	text-decoration: underline;
}
.smallCaps
{
	font-variant: small-caps;
}
.smallFont
{
	font-size: 75%;
}
.inset
{
	width: 95%;
}
.fullwidth
{
	width: 100%;
}
.fullheight
{
	height: 100%;
}
.right
{
	text-align: right;
}
.center
{
	text-align: center;
}
table.center
{
	margin:auto;
}
.nopad
{
	margin: 0px;
	padding: 0px;
}
.noWrap
{
	white-space: nowrap;
}
.auto
{
	width: auto;
}
.shrink
{
	width: 1%;
}
.top
{
	vertical-align: top;
}
.blank
{
	margin: 0px;
	padding: 0px;
}
.shiplistdescription
{
	white-space: nowrap;
}
.newbie
{
	font-style: italic;
}
.clear {
	clear: both; /* don't change clear is required to end floats */
}

/* Colours */
.yellow {
	color: #FF0;
}
.red {
	color: #F00;
}
.dgreen {
	color: #008000;
}
.green {
	color: #0F0;
}
.lgreen {
	color: #80C870;
}
.blue {
	color:#00F;
}
.npcColor {
	color: #6CF;
}
.sectorColor {
	color: #0FF;
}
.creds {
	color: #FF0;
}
.exp {
	color:#00F;
}
.shields {
	color: #0FF;
}
.cds {
	color: #FF0;
}

/* GP */
.gpsubheader
{
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;
}
.gpeditornote
{
	font-size: smaller;
}
.gpcolumn
{
	width: 50%;
	vertical-align: top;
}

/* More */


table.standardnobord
{
	border: 0px;
}
.standardnobord tr,.standardnobord td,.standardnobord th
{
	border: 0px;
}

table.standard td, table.standard th {
	padding:2px;
}

table.bar1, table.bar1 table {
	width: 100%;
}

table.bar1 table table, table.bar1 table table td{
	width: auto;
	padding: 0px;
}
table.csl {
	width: 27em;
}

td, th {
	padding:3px;
}

textarea {
	font: 100% Arial;
	width: 30em;
	height: 15em;
}

div.buttonA
{
	margin: 0px;
	font-size: 100%;
	height: 1.0em;
	display: inline;
}
a.buttonA 
{
	font-size: inherit;
	text-decoration: none;
	height: 1.0em;
	display: inline;
	border: 2px solid;
	color: #FFFFFF;
	white-space: nowrap;
}


/* LM */
table.lmt
{
	border-collapse: collapse;
	border-spacing: 1px;
}
/*Local up link Icon*/
div.lm_sector div.lmup
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 10px;
	width: 120px;
}
/*Local Plot/Warp Area*/
div.lm_sector div.lmp
{
	position: absolute;
	top: 10px;
	left: 0px;
	height: 18px;
	z-index: 2;
}
/*Local trader and forces*/
div.lm_sector div.lmtf
{
	position: absolute;
	top: 10px;
	right: 0px;
	height: 18px;
	text-align:right;
	z-index: 2;
}
/*Local locations*/
div.lm_sector div.lmloc
{
	position: absolute;
	top: 28px;
	left: 0px;
	height: 18px;
	z-index: 2;
}
/*Local left link Icon*/
div.lm_sector div.lmleft
{
	position: absolute;
	top: 46px;
	left: 0px;
	height: 20px;
	width: 20px;
}
/*Local sector number*/
div.lm_sector div.lmsector
{
	position: absolute;
	top: 46px;
	left: 20px;
	height: 20px;
	text-align: center;
	width: 80px;
}
/*Local right link Icon*/
div.lm_sector div.lmright
{
	position: absolute;
	top: 46px;
	left: 100px;
	height: 20px;
	text-align: right;
	width: 20px;
}
/*Local port section*/
div.lm_sector div.lmport
{
	position: absolute;
	top: 66px;
	left: 0px;
	height: 44px;
	z-index: 2;
	/*width: 120px;*/
}
/*Local down link Icon*/
div.lmdown
{
	position: absolute;
	top: 110px;
	left: 0px;
	height: 10px;
}
div.lm_sector
{
	position: relative;
	width: 120px;
	height: 120px;
}
div.lm_sector img.move_hack
{
	height: 120px;
	width: 120px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}





/** Chess **/
.chessFont {
	font-family: Times New Roman;
}

table.chess {
	background-color: #47525D;
    border: 1px solid #FFFFFF;
	border-collapse: separate;
	border-spacing: 0px;
    white-space: nowrap;
	color: black;
}

.chess td
{
	font-size: 37px;
	color: black;
	width: 48px;
	height: 48px;
	text-align: center;
	border: 4px solid #47525D;
}

.chess td.whiteSquare {
	background-color: white;
	background-repeat: repeat;
	border: 4px solid white;
}

div.chat, table#moveTable {
	color: black;
	background-color: white;
}

table#moveTable {
	font-size: 135%;
}

.pointer {
	cursor: pointer;
}

.chess td.chessHighlight {
	border: 4px solid orange;
}