# Files to ignore when building Docker image

# Committed files that are not needed in the build
docker-compose.yml
README.md

# Ignore directories that will be volume-mounted
config
opendkim
vol_*

# Ignore the database backup directory
backup

# Products from composer install
vendor
composer.lock

# docker-compose environment variable file
.env
