# Files to ignore when building Docker image

# Committed files that are not needed in the build
docker-compose.yml
README.md

# Configuration files will be bind-mounted
config

# Products from composer install
vendor
composer.lock

# docker-compose environment variable file
.env

# Docker data volumes
vol_*
