
# /
/.buildpath
/.project
/.idea
*.iml
/nbproject
/composer.lock

# /.settings/
/.settings/

# /config/
/config/env
/config/config.specific.php

# /htdocs/
/src/htdocs/upload

# DKIM private keys
/opendkim

# Docker data volumes
/vol_*

/sys$command

/newsletters
/vendor
.phpunit*
out/

# Coverage files created by phpunit
/test/coverage
