# /config/
/.env
/config/config.specific.php
/.my.cnf

# /htdocs/
/src/htdocs/upload

# DKIM private keys
/opendkim

# Docker volume mount points
/vol_*

# Coverage files created by phpunit
/test/coverage

# Traefik certificate store
/traefik/acme.json

# Database backups
/backup/daily
/backup/archive
/backup/manual
