
# /
/.buildpath
/.project
/.idea
/nbproject
/composer.lock

# /.settings/
/.settings/

# /config/
/config/config.specific.php
/config/SmrMySqlSecrets.inc
/config/discord/config.specific.php

# /htdocs/
/htdocs/upload

# /lib/Default/
/lib/Default/Smr12MySqlDatabase.class.inc
/lib/Default/SmrClassicMySqlDatabase.class.inc
/lib/Default/SmrClassicHistoryMySqlDatabase.class.inc
/lib/Default/Smr12HistoryMySqlDatabase.class.inc

/sys$command
/tools/irc/config.specific.php
/tools/npc/config.specific.php

/newsletters
/vendor
