services:
  - docker
language: php
php:
  - '7.4'
git:
  depth: false
script:
  - tests/phplint.sh
  - tests/strict_types.sh
  - composer install
  - mv config/config.specific.sample.php config/config.specific.php
  - mv config/SmrMySqlSecrets.sample.inc config/SmrMySqlSecrets.inc
  - mv config/discord/config.specific.sample.php config/discord/config.specific.php
  - mv config/irc/config.specific.sample.php config/irc/config.specific.php
  - mv config/npc/config.specific.sample.php config/npc/config.specific.php
  - docker-compose run mysql-integration-test
  - sleep 10
  - docker-compose run flyway-integration-test
  - vendor/bin/phpunit test
