# You must include a `.env` file with the following content:
#   MYSQL_ROOT_PASSWORD=chooseapassword
#   MYSQL_PASSWORD=chooseapassword
#   MYSQL_HOST=chooseahost
#   PHP_DEBUG=1 or 0

version: '3.7'

networks:
    frontend:
        name: frontend
        external: false
    backend:
        name: backend
        external: false

# Base configuration for `smr` (production) and `smr-dev` (testing).
x-smr-common: &smr-common
    build:
        context: .
        args:
            - PHP_DEBUG=${PHP_DEBUG}
    container_name: ${SMR_HOST}
    networks:
        - frontend
        - backend
    labels:
        - "traefik.enable=true"
        - "traefik.docker.network=frontend"
        - "traefik.backend=${SMR_HOST}"
        - "traefik.frontend.passHostHeader=true"
        - "traefik.frontend.rule=${SMR_RULE:-PathPrefix:/}"
        - "traefik.port=80"
    depends_on:
        - mysql
        - smtp
    volumes:
        - ./vol_upload:/smr/htdocs/upload
        - ./config:/smr/config:ro

services:
    smr:
        << : *smr-common

    smr-dev:
        << : *smr-common
        volumes:
            - ./vol_upload:/smr/htdocs/upload
            - ./config:/smr/config:ro
            # Mount the source code instead of copying it.
            - ./admin:/smr/admin
            - ./engine:/smr/engine
            - ./htdocs:/smr/htdocs
            - ./lib:/smr/lib
            - ./templates:/smr/templates

    smtp:
        image: hemberger/postfix-relay
        networks:
            - backend
        environment:
            - POSTFIX_myhostname=hostname.local
            - OPENDKIM_DOMAINS=smrealms.de=key1
        labels:
            - "traefik.enable=false"
        volumes:
            - ./opendkim:/etc/opendkim/keys/smrealms.de

    flyway:
        image: boxfuse/flyway:latest-alpine
        command: -url=jdbc:mysql://${MYSQL_HOST}/smr_live?useSSL=false -user=smr -password=${MYSQL_PASSWORD} migrate
        networks:
            - backend
        labels:
            - "traefik.enable=false"
        depends_on:
            - mysql
        volumes:
            - ./db/patches:/flyway/sql:ro

    mysql:
        image: mysql:5.7
        container_name: ${MYSQL_HOST}
        networks:
            - backend
        # By using the default image, we must expose the secrets in
        # the runtime environment (because we can't specify build args).
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_USER:          smr
            MYSQL_PASSWORD:      ${MYSQL_PASSWORD}
            MYSQL_DATABASE:      smr_live
        volumes:
            - ./vol_db:/var/lib/mysql
        labels:
            - "traefik.enable=false"
        # The mysql:5.7+ docker default sql mode uses STRICT_TRANS_TABLES,
        # which is incompatible with the way the SMR database is used.
        # Therefore, we override CMD to omit this sql mode.
        command: ["mysqld", "--sql-mode=NO_ENGINE_SUBSTITUTION",
                  "--character-set-server=utf8",
                  "--collation-server=utf8_general_ci"]

    pma:
        image: phpmyadmin/phpmyadmin
        networks:
            - frontend
            - backend
        environment:
            PMA_HOST: ${MYSQL_HOST}
            PMA_ABSOLUTE_URI: /pma/
        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=frontend"
            - "traefik.backend=pma"
            - "traefik.frontend.passHostHeader=true"
            - "traefik.frontend.rule=PathPrefixStrip:/pma/"
            - "traefik.port=80"
        depends_on:
            - mysql

    discord:
        build:
            context: .
            dockerfile: ./tools/discord/Dockerfile
        networks:
            - backend
        labels:
            - "traefik.enable=false"
        depends_on:
            - mysql
        volumes:
            - ./config:/smr/config

    irc:
        build:
            context: .
            dockerfile: ./tools/irc/Dockerfile
        networks:
            - backend
        labels:
            - "traefik.enable=false"
        depends_on:
            - mysql
        volumes:
            - ./config:/smr/config

    npc:
        build:
            context: .
            dockerfile: ./tools/npc/Dockerfile
        networks:
            - backend
        labels:
            - "traefik.enable=false"
        depends_on:
            - mysql
            - smtp
        volumes:
            - ./config:/smr/config

    traefik:
        image: traefik:1.7
        networks:
            - frontend
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./traefik/traefik.toml:/etc/traefik/traefik.toml
        labels:
            - "traefik.enable=true"
            - "traefik.backend=traefik-dashboard"
            - "traefik.docker.network=frontend"
            - "traefik.frontend.passHostHeader=true"
            - "traefik.frontend.rule=PathPrefixStrip:/traefik"
            - "traefik.port=8080"
        ports:
            - "80:80"
            - "443:443"

    # Generate rich API documentation of the SMR source code.
    api-docs:
        build:
            context: .
            dockerfile: ./docs/Dockerfile
        networks:
            - frontend
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=PathPrefixStrip:/api"
            - "traefik.port=80"

    # Web interface for managing Docker services
    portainer:
        image: portainer/portainer
        networks:
            - frontend
        labels:
            - "traefik.enable=true"
            - "traefik.backend=portainer"
            - "traefik.docker.network=frontend"
            - "traefik.frontend.passHostHeader=true"
            - "traefik.frontend.rule=PathPrefixStrip:/docker"
            - "traefik.port=9000"
        command: -H unix:///var/run/docker.sock
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./vol_portainer:/data
