# Distributed PHPStan config
parameters:
    level: 3
    paths:
        - src
        - test
    bootstrapFiles:
        - src/config.php

    # Stricter analysis
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    dynamicConstantNames:
        - BUG_REPORT_TO_ADDRESSES
        - ENABLE_BETA
        - ENABLE_DEBUG
        - ENABLE_NPCS_CHESS
        - FACEBOOK_APP_ID
        - GOOGLE_ANALYTICS_ID
        - GOOGLE_CLIENT_ID
        - IRC_BOT_VERBOSE_PING
        - NPC_LOG_TO_DATABASE
        - RECAPTCHA_PRIVATE
        - SMTP_HOSTNAME
        - TWITTER_CONSUMER_KEY
        - USING_AJAX

    #----------------------------------------------
    # Warning suppression (to be fixed eventually!)
    #----------------------------------------------

    ignoreErrors:
        # Template files currently emit many undefined variable errors because
        # we source them inside Template::includeTemplate. This will require a
        # full redesign of the Template class to fix. (Level 1)
        -
            message: '#Variable .* might not be defined#'
            path: src/template
