# Distributed PHPStan config
parameters:
    level: 8
    paths:
        - src
        - test
    bootstrapFiles:
        - src/config.php

    # Stricter analysis
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkDynamicProperties: true

    dynamicConstantNames:
        BUG_REPORT_TO_ADDRESSES: list<string>
        CONTACT_FORM_CC_ADDRESSES: list<string>
        ENABLE_BETA: bool
        ENABLE_DEBUG: bool
        ENABLE_LIBXML_ERRORS: bool
        ENABLE_NPCS_CHESS: bool
        FACEBOOK_APP_ID: string
        GOOGLE_ANALYTICS_ID: string
        GOOGLE_CLIENT_ID: string
        IRC_BOT_VERBOSE_PING: bool
        NPC_LOG_TO_DATABASE: bool
        OVERRIDE_FORWARD: ?true
        RECAPTCHA_PRIVATE: string
        SMTP_HOSTNAME: string
        TWITTER_CONSUMER_KEY: string
        # We code in protection against a value of 0
        Smr\Combat\Weapon\Mines::TOTAL_ENEMY_MINES_MODIFIER: float

    typeAliases:
        PlayerMessageNoGroups: 'array{ID: int|string, Text: string, Unread: bool, SendTime: string, Sender?: \Smr\Player, SenderDisplayName?: string, ReceiverDisplayName?: string, Actions?: array{ReportHref: string, BlacklistHref: string, ReplyHref: string}}'
        PlayerMessage: 'array{ID: int|string, Text: string, Unread: bool, SendTime: string, Sender?: \Smr\Player, SenderDisplayName?: string, Actions?: array{ReportHref: string, BlacklistHref: string, ReplyHref: string}, ReceiverDisplayName?: string, GroupedMessages?: array<PlayerMessageNoGroups>}'

    #----------------------------------------------
    # Warning suppression (to be fixed eventually!)
    #----------------------------------------------

    ignoreErrors:
        -
            # This while loop is needed to reconnect the IRC bot after server
            # timeouts. It could be replaced with Docker daemonization if we
            # modify the delayed callback actions. (Level 4)
            message: '#While loop condition is always true.#'
            path: src/tools/irc/irc.php
            count: 1
        -
            # The `$targetPlayer` has impure functions called on it, which
            # should reset its method return value cache, but PHPStan cannot
            # detect that this is happening. (Level 4)
            message: '#Right side of || is always false.#'
            path: src/pages/Player/AttackPlayerProcessor.php
            count: 1
        -
            # https://github.com/thephpleague/oauth2-client/issues/897
            message: '#Parameter \#1 \$token of method .*::getResourceOwner\(\) expects .*AccessToken, .*AccessTokenInterface given.#'
            path: src/lib/Smr/SocialLogin
            count: 2
