<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
	beStrictAboutChangesToGlobalState="true"
	bootstrap="src/bootstrap.php"
	cacheDirectory=".phpunit.cache"
	colors="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	executionOrder="depends,defects"
	failOnDeprecation="true"
	failOnNotice="true"
	failOnRisky="true"
	failOnWarning="true"
	requireCoverageMetadata="true">
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="DISABLE_PHPDI_COMPILATION" value="true" force="true" />
	</php>
	<coverage includeUncoveredFiles="true">
		<report>
			<clover outputFile="test/coverage/clover.xml" />
			<text outputFile="php://stdout" showOnlySummary="true" />
			<html
				outputDirectory="test/coverage/html"
				customCssFile="test/coverage-report.css"
			/>
		</report>
	</coverage>
	<source>
		<include>
			<directory suffix=".php">src/lib</directory>
		</include>
	</source>
</phpunit>
