<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
	bootstrap="htdocs/config.inc"
	cacheResultFile=".phpunit.cache/test-results"
	executionOrder="depends,defects"
	beStrictAboutTodoAnnotatedTests="true"
	failOnRisky="true"
	failOnWarning="true"
	verbose="true">
	<php>
		<env
			name="MYSQL_CONFIG_FROM_ENVIRONMENT"
			value="true" />
		<env
			name="MYSQL_HOST"
			value="127.0.0.1" />
		<env
			name="MYSQL_USER"
			value="smr" />
		<env
			name="MYSQL_PASSWORD"
			value="smr" />
		<env
			name="MYSQL_PORT"
			value="3307" />
		<env
			name="MYSQL_DATABASE"
			value="smr_live" />
	</php>
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>
	<coverage
		cacheDirectory=".phpunit.cache/code-coverage"
		includeUncoveredFiles="false">
		<include>
			<directory suffix=".php">lib/Default</directory>
		</include>
	</coverage>
</phpunit>
