# Variables needed by docker-compose.yml
#
# * Passwords can be anything you want
#
# * Each host name must be unique on the network (for Windows systems you
#   might need to remove "-" characters)
#
# * For development environments, use:
#       NO_DEV=0
#       DISABLE_PHPDI_COMPILATION=true
#   For production environments, use:
#       NO_DEV=1
#       DISABLE_PHPDI_COMPILATION=false

MYSQL_ROOT_PASSWORD=smr
MYSQL_USER=smr
MYSQL_PASSWORD=smr
MYSQL_HOST=smr-mysql
MYSQL_DATABASE=smr_live
SMR_HOST=smr-game
NO_DEV=0
DISABLE_PHPDI_COMPILATION=true
#XDEBUG_MODE=profile
