@import url('shared.css');

html, body
{
	height: 100%;
}
body
{
	background: #0B2121;
	font-family: Arial, Sans-Serif;
	font-variant: normal;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	color: #FFFFFF;
}
/* ----- All Heading styles ----- */
/* =h1,h2 default style for h tags */
h1, h2 {
	color: #80C870;
	font: bold 125% Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}
/* =h2 default font-size for h2 tags */
h2
{
	font-size: 110%;
}
/* =h3 default color h3 tags */
h3
{
	color: #FF00FF; /*Fuchsia*/
	padding: 0px;
	margin: 0px;
}
/* ----- End Heading styles ----- */
/* ---------------------------- */
#InputFields, .InputFields
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: inherit;
	font-family: Arial;
}
.submitStyle:link
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle:visited
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle:hover
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle:active
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
	display: inline-table; /* Fixes the problems with vertical overlap in FF, but not IE :( */
}
#InputFieldsText
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: inherit;
	font-family: Arial;
}
/* ------------------------------------ */
#help_content
{
	margin: 10px 20px 50px 20px;
}
#help_menu
{
	margin: 10px;
}
form
{
	margin: 0px;
}
a.scan_btn
{
	background: #060E88;
	border: 1px solid #8070C8;
	font: 80% bold;
	padding: 0.1em 0.5em 0.1em 0.5em;
	text-align: center;
	color: #BBBBBB;
	position: relative;
	top: -1.6em;
}
a.scan_btn:hover
{
	background: #060E88;
	color: #FFFFFF;
}
/* -------- Table rules --------- */
/* =table default font size */
table
{
	font-size: 100%;
}
/* =th default style for th tags */
th
{
	background: #0A4E1D;
	color: #80C870;
	font-size: 110%;
	text-align: center;
	padding: 3px;
}
/* =td default style for td tags */
td
{
	padding: 3px;
	color: #FFFFFF;
	font-variant: normal;
	font-family: Arial, Sans-Serif;
	vertical-align: middle;
}
/* =td.sector */
td.sector
{
	padding: 0px;
	height: 3.5em;
	width: 4.5em;
	text-align: center;
}
/* =td.footer_left */
td.footer_left
{
	padding: 10px;
	border: solid #0B8D35;
	border-width: 0px 0px 1px 1px;
	background-color: #06240E;
	vertical-align: bottom;
	text-align: left;
	font-size: 75%;
	white-space: nowrap;
}
/* =td.footer_right */
td.footer_right
{
	padding: 10px;
	border: solid #0B8D35;
	border-width: 0px 1px 1px 0px;
	background-color: #06240E;
	vertical-align: bottom;
	text-align: right;
	font: 75% Arial, Sans-Serif;
	white-space: nowrap;
}
table.standard
{
	border: 1px solid #0B8D35;
	border-spacing: 0px;
}
table.standard td, table.standard th
{
	border: 1px solid #0B8D35;
}
/* =.create td child, th also on line 110 */
.create td, th
{
	padding: 3px;
	border: 0px solid #0b8d35;
}
table.create {
	border: 0px solid #0B8D35;
}
td.border_left
{
	border-left-width: 3px;
}
td.border_right
{
	border-right-width: 3px;
}
td.border_bottom
{
	border-bottom-width: 3px;
}
td.border_top
{
	border-top-width: 3px;
}
td.has_port
{
	background-color: gray;
}
td.vert_cent
{
	vertical-align: middle;
}
table.quote
{
	border: 1px solid #0B8D35;
}
table.nobord td
{
	border: none;
}
table.nohpad td
{
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}
td.button
{
	padding: 0px;
	text-align: center;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}
/***************************/
table.m
{
	height: 100%;
	width: 80em;
	border-spacing: 0px;
	padding: 0px;
}
td.l0
{
	padding: 0px 10px 0px 0px;
	vertical-align: top;
}
td.mb
{
	width: 225px;
}
div.l1
{
	text-align: right;
	width: 10em;
}
td.m0
{
	padding: 10px;
	border: solid #0B8D35;
	border-width: 1px 1px 0px 1px;
	background-color: #06240E;
	vertical-align: top;
	width: 100%;
}
td.r0
{
	padding: 0px 0px 0px 10px;
	vertical-align: top;
	text-align: left;
}
table.csl
{
	width: 27em;
}
/* --------- End of table rules ------- */
img
{
	border: none;
}
img.vote_site
{
	width: 98px;
	height: 41px;
}
/* =big, =.big */
big, .big
{
	font-size: 125%;
}
/* =small, .small */
small, .small
{
	font-size: 75%;
}
.attack_warning
{
	text-align: center;
	border: 1px solid #BBBB00;
	background-color: #550000;
	font-weight: bold;
	color: #FF0000;
	padding: 0px;
	margin: 0px;
}
div.bar1
{
	border: 1px solid #0B8D35;
	padding: 5px;
}
div.bar1 div
{
	padding: 2px;
	background-color: #0B8D35;
	text-align: center;
}
input
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
	font: 100% Arial;
}
textarea
{
	background: #06240E;
	color: #FFFFFF;
	border: 1px solid #80C870;
}
a
{
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
a:hover
{
	background: #0A4E1D;
}
a.header
{
	color: #80C870;
}

hr
{
	color: #80C870;
	background-color: #A0F890;
	height: 2px;
}
a.buttonA 
{
	border-color: #A3CCA3 #2A6E2A #2A6E2A #A3CCA3;
	background-color: #0B8D35;
}
a.buttonA:hover
{
	background-color: #0B8D35;
}
a.buttonA:active
{
	background-color: #0B8D35;
	border-color: #2A6E2A #A3CCA3 #A3CCA3 #2A6E2A;
}

a.enemyExamine
{
	background-color:#C00;
	border-color:#CCA3A3 #6E2A2A #6E2A2A #CCA3A3;
}
a.enemyExamine:hover
{
	background-color:#C00;
}
a.enemyExamine:active
{
	background-color:#C00;
	border-color:#6E2A2A #CCA3A3 #CCA3A3 #6E2A2A;
}
	
div#middle_panel
{
	text-align: left;
	width: 100%;
}
div#right_panel
{
	width: 13em;
}

.nopad
{
	margin: 0px;
	padding: 0px;
}
/* Weapon Drag Drop */
ul.sortable li
{
	position: relative;
}
ul.boxy
{
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	width: 10em;
	font: 13px Arial, Sans-Serif;
	border: 1px solid #0B8D35;
}
ul.boxy li
{
	cursor: move;
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #0B8D35;
}
#left_col
{
	 width: 500px;
	 float: left;
	 margin-left: 5px;
}
/* LM */
table.lmt
{
	border-collapse: collapse;
	border-spacing: 1px;
}
/*Local up link Icon*/
div.lm_sector div.lmup
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 10px;
	width: 120px;
}
/*Local Plot/Warp Area*/
div.lm_sector div.lmp
{
	position: absolute;
	top: 10px;
	left: 0px;
	height: 18px;
	z-index: 2;
}
/*Local trader and forces*/
div.lm_sector div.lmtf
{
	position: absolute;
	top: 10px;
	right: 0px;
	height: 18px;
	text-align:right;
	z-index: 2;
}
/*Local locations*/
div.lm_sector div.lmloc
{
	position: absolute;
	top: 28px;
	left: 0px;
	height: 18px;
	z-index: 2;
}
/*Local left link Icon*/
div.lm_sector div.lmleft
{
	position: absolute;
	top: 46px;
	left: 0px;
	height: 20px;
	width: 20px;
}
/*Local sector number*/
div.lm_sector div.lmsector
{
	position: absolute;
	top: 46px;
	left: 20px;
	height: 20px;
	text-align: center;
	width: 80px;
}
/*Local right link Icon*/
div.lm_sector div.lmright
{
	position: absolute;
	top: 46px;
	left: 100px;
	height: 20px;
	text-align: right;
	width: 20px;
}
/*Local port section*/
div.lm_sector div.lmport
{
	position: absolute;
	top: 66px;
	left: 0px;
	height: 44px;
	z-index: 2;
	/*width: 120px;*/
}
/*Local down link Icon*/
div.lmdown
{
	position: absolute;
	top: 110px;
	left: 0px;
	height: 10px;
}
div.lm_sector
{
	position: relative;
	width: 120px;
	height: 120px;
}
div.connectSeclm
{
	background-color: #33784B;
}
div.connectSeclm:hover
{
	background-color: #14645F;
}
div.currentSeclm
{
	/*background-color:#14642F;*/
	background: url('../images/currentsector.png');
}
div.currentSeclm:hover
{
	/*background-color:#337873;*/
	background: url('../images/currentsector_hover.png');
}
div.normalSeclm
{
	background-color: #0B4C1C;
}
div.normalSeclmu
{
	background-color: #000000;
}
div.lm_sector img.move_hack
{
	height: 120px;
	width: 120px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
a.mp_as
{
	display: block;
	height: 120px;
	width: 120px;
	text-decoration: none;
	background-color: transparent;
	color: inherit;
}
/* Layout Sprite Map */
#layout
{
	width: 1024px;
	height: 768px;
	background: transparent url('../images/smr_layout.png') no-repeat;
	margin: 10px auto;
	padding: 0;
	position: relative;
}
#layout li
{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
}
#layout li
{
	display: block;
}
#smr_logo, #smr_logo a
{
	left: 0;
	width: 185px;
	height: 100px;
}
#player_name, #player_name a
{
	left: 190px;
	top: 30px;
	width: 120px;
	height: 50px;
}
#player_info, #player_info a
{
	left: 316px;
	top: 16px;
	width: 318px;
	height: 70px;
}
#ship_name, #ship_name a
{
	left: 662px;
	top: 29px;
	width: 110px;
	height: 53px;
}
#ship_info, #ship_info a
{
	left: 785px;
	top: 14px;
	width: 219px;
	height: 71px;
}
#main_window {
	left: 195px;
	top: 125px;
	width: 772px;
	height: 588px;
}
/* wep drop down */
div.wep_drop1
{
	cursor: pointer;
}
div.wep_drop1 .wep1
{
	color: #F6FF00;
}
/* Gal Map */
li.gal
{
	font-size: 95%;
	height: 1.5em;
}
div.connectSecgm
{
	background-color: #33784B;
}
div.currentSecgm
{
	/*background-color:#14642F;*/
	background: url('../images/currentsector.png');
}

/* Current Sector Navigation Box Colours */
div.secNavBox div div
{
	border: 2px solid #0B8D35;
}
div.secNavBox a:hover
{
	font-size: 115%;
	font-weight: bold;
}
.move_hover a:hover
{
	background: #005000; /* hover green bg */
}
.scan_hover
{
	background-color: #060E88;
}
.scan_hover a
{
	background-color: #060E88;
}
.scan_hover a:hover
{
	background-color: #060E88;
	color: #FFFFFF; /* hover white text */
}
.move_warp a:hover
{
	background: #500000; /* hover red bg */
}
.lastVisited
{
   color: #00FF00;
}
.visited, .currentSector
{
   color: #00AA00;
}
.unvisited
{
   color: #FFFF00;
}

table.csShips th.header {
	background: #500;
}
table.csForces th.header {
	background: #005;
}

.uninhab
{
   color: #FF0000;
}
.inhab
{
   color: #00FF00;
}