@import url('shared.css');

html, body {
	height: 100%;
}
body {
	font-family: Arial, Sans-Serif;
	font-variant: normal;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}
/* ----- All Heading styles ----- */
h1, h2 {
	font: bold 125% Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}
h2 {
	font-size: 110%;
}
h3 {
	padding: 0px;
	margin: 0px;
}
/* ----- End Heading styles ----- */
/* ---------------------------- */
#InputFields, .InputFields {
	font: inherit;
	font-family: Arial;
}
.submitStyle:link {
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle:visited {
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle:hover {
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle:active {
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
}
.submitStyle {
	font: inherit;
	font-family: Arial;
	padding: 0px 8px;
	display: inline-table; /* Fixes the problems with vertical overlap in FF, but not IE :( */
}
#InputFieldsText {
	font: inherit;
	font-family: Arial;
}
/* ------------------------------------ */
#help_content {
	margin: 10px 20px 50px 20px;
}
#help_menu {
	margin: 10px;
}
form {
	margin: 0px;
}
a.scan_btn {
	font: 80% bold;
	padding: 0.1em 0.5em 0.1em 0.5em;
	text-align: center;
	position: relative;
	top: -1.6em;
}
/* -------- Table rules --------- */
table {
	font-size: 100%;
}
td {
	font-variant: normal;
	font-family: Arial, Sans-Serif;
}
td.sector {
	padding: 0px;
	height: 3.5em;
	width: 4.5em;
	text-align: center;
}
td.footer_left {
	padding: 10px;
	vertical-align: bottom;
	text-align: left;
	font-size: 75%;
	white-space: nowrap;
}
td.footer_right {
	padding: 10px;
	vertical-align: bottom;
	text-align: right;
	font: 75% Arial, Sans-Serif;
	white-space: nowrap;
}
/* =.create td child, th also on line 110 */
.create td, th {
	padding: 3px;
}
td.vert_cent {
	vertical-align: middle;
}
table.quote {
	border: 1px solid #0B8D35;
}
table.nohpad td {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}
td.button {
	padding: 0px;
	text-align: center;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}
/***************************/
table.m {
	height: 100%;
	width: 80em;
	border-spacing: 0px;
	padding: 0px;
}
td.l0 {
	padding: 0px 10px 0px 0px;
	vertical-align: top;
}
td.mb {
	width: 225px;
}
div.l1 {
	text-align: right;
	width: 10em;
}
td.m0 {
	padding: 10px;
	vertical-align: top;
	width: 100%;
}
td.r0 {
	padding: 0px 0px 0px 10px;
	vertical-align: top;
	text-align: left;
}
table.csl {
	width: 27em;
}
/* --------- End of table rules ------- */
img {
	border: none;
}
img.vote_site {
	width: 98px;
	height: 41px;
}
big, .big {
	font-size: 125%;
}
small, .small {
	font-size: 75%;
}
div.bar1 {
	padding: 5px;
}
div.bar1 div {
	padding: 2px;
	text-align: center;
}
input {
	font: 100% Arial;
}
a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

div#middle_panel {
	text-align: left;
	width: 100%;
}
div#right_panel {
	width: 13em;
}

.nopad {
	margin: 0px;
	padding: 0px;
}
/* Weapon Drag Drop */
ul.sortable li {
	position: relative;
}
ul.boxy {
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	width: 10em;
	font: 13px Arial, Sans-Serif;
}
ul.boxy li {
	cursor: move;
	margin-bottom: 4px;
	padding: 2px 2px;
}
#left_col {
	 width: 500px;
	 float: left;
	 margin-left: 5px;
}
/* Layout Sprite Map */
#layout {
	width: 1024px;
	height: 768px;
	background: transparent url('../images/smr_layout.png') no-repeat;
	margin: 10px auto;
	padding: 0;
	position: relative;
}
#layout li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
}
#layout li {
	display: block;
}
#smr_logo, #smr_logo a {
	left: 0;
	width: 185px;
	height: 100px;
}
#player_name, #player_name a {
	left: 190px;
	top: 30px;
	width: 120px;
	height: 50px;
}
#player_info, #player_info a {
	left: 316px;
	top: 16px;
	width: 318px;
	height: 70px;
}
#ship_name, #ship_name a {
	left: 662px;
	top: 29px;
	width: 110px;
	height: 53px;
}
#ship_info, #ship_info a {
	left: 785px;
	top: 14px;
	width: 219px;
	height: 71px;
}
#main_window {
	left: 195px;
	top: 125px;
	width: 772px;
	height: 588px;
}
/* wep drop down */
div.wep_drop1 {
	cursor: pointer;
}
/* Gal Map */
li.gal {
	font-size: 95%;
	height: 1.5em;
}

/* Current Sector Navigation Box Colours */
div.secNavBox a:hover {
	font-size: 115%;
	font-weight: bold;
}