html {
	background-color: #000; /* The main background color, you can change this */
}
.bar1Separator {
	border-top: 2px solid #A3692D;
}
.tableHeight {
	color: #FFF;
}
.topleftCell {
	color: #F2A648;
}
.topcenterCell {
	color: #000;
}
.rightCell {
	color: #000;
}
.leftCell {
	color: #F2A648;
}
.TopInfo {
	background-color: #7B5121;
	border: 4px solid #A3692D;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and chrome */
	-khtml-border-radius: 4px; /* Linux browsers */
	border-radius: 4px; /* CSS3 */
	behavior: url(css/ie-css3.htc); /* IE */
}
.LeftNavOne {
	background-color: #140F0B;
	border: 4px solid #A3692D;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and chrome */
	-khtml-border-radius: 4px; /* Linux browsers */
	border-radius: 4px; /* CSS3 */
	behavior: url(css/ie-css3.htc); /* IE */
}
.LeftNavTwo {
	background-color: #140F0B;
	border: 4px solid #A3692D;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and chrome */
	-khtml-border-radius: 4px; /* Linux browsers */
	border-radius: 4px; /* CSS3 */
	behavior: url(css/ie-css3.htc); /* IE */
}
.MainContentArea {
	background-color: #000;
	color: #FFF;
	border: 6px solid #A3692D;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari and chrome */
	-khtml-border-radius: 6px; /* Linux browsers */
	border-radius: 6px; /* CSS3 */
	behavior: url(css/ie-css3.htc); /* IE */
}
.rightInfo {
	background-color: #7B5121;
	border: 4px solid #A3692D;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari and chrome */
	-khtml-border-radius: 6px; /* Linux browsers */
	border-radius: 6px; /* CSS3 */
	behavior: url(css/ie-css3.htc); /* IE */
}
div.rightInfoShip a {	
	color: #000;
}
div.rightInfoShip a:hover {
	background: #CC9933;
}
.wep1 {
	color: #BA8F25;/*#956D0B;#755A16;#A78C4B;#D8A21D; #F6FF00;*/
}
.messages {
	color: #FFF;
}
a.message img {
	border: none;
}
a.white {
	color: #FFF;
}
a {
	color: #F2A648; /*#CC9933;*/
}
a.leftNav {
	color: #F2A648; /*#CC9933;*/
}
a:hover.leftNav {
	background: #5A4B38; /*#D7A970; #C39C4D;*/
}
a.nav {
	color: #000;
}
a:hover.nav {
	background: #C93;
}


.attack_warning {
	border: 1px solid #BB0;
	background-color: #500;
	color: #F00;
}

a.buttonA {
	border-color: #9B7141 #5B3100 #5B3100 #9B7141;
	background-color: #7B5121;
}
a.buttonA:hover {
	background-color: #7B5121;
}
a.buttonA:active {
	background-color: #7B5121;
	border-color: #5B3100 #9B7141 #9B7141 #5B3100;
}

a.enemyExamine {
	background-color:#C00;
	border-color:#CCA3A3 #6E2A2A #6E2A2A #CCA3A3;
}
a.enemyExamine:hover {
	background-color:#C00;
}
a.enemyExamine:active {
	background-color:#C00;
	border-color:#6E2A2A #CCA3A3 #CCA3A3 #6E2A2A;
}

/* Standard table styling */
table.standard {
	color: #FFF;
	border: 1px solid #7B5121;
	border-spacing: 0px;
}
table.standard td, table.standard th {
	border: 1px solid #7B5121;
}
table.standard th {
	text-align:center;
	color:#808080;
	background-color:#3E2911;
	font-weight:bold;
}
th {
	background-color: #3E2911;
	color: #F2A648;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	color: #f2a648;
}

input, button, select, textarea, a.submitStyle {
	background: #111;
	color: #FFF;
	border: 2px solid #7B5121;
}

/* Highlight navigation elements on hover */
input[type="submit"]:hover, button:hover, a:hover {
	background: #5A4B38;
}
input[type="submit"], button, a.submitStyle  {
	border: 2px outset #7B5121;
}
input[type="submit"]:active, button:active, a.submitStyle:active {
	border: 2px inset #7B5121;
}

/* Current Sector Navigation Box Colours */
div.secNavBox div div {
	border: 2px solid #7B5121;
}
div.secNavBox a:hover {
	font-size: 115%;
	font-weight: bold;
}
.move_hover a:hover {
	background-color: #222;
}
.scan_hover {
	background-color: #3E2911;
}
.scan_hover a {
	background-color: #3E2911;
	color: #000;
}
.scan_hover a:hover {
	background-color: #3E2911;
}
.move_warp a:hover {
	background-color: #500000;
}

.lastVisited {
   color: #C27618;
}
.visited, .currentSector {
   color: #F2A648;
}
.unvisited {
	background-color: black;
	color: yellow;
}

/*Used for CS */
table.csShips th.header {
	background: #500;
}
table.csForces th.header {
	background: #005;
}

/* Used for planets */
.uninhab {
   color: #F00;
}
.inhab {
   color: #0F0;
}

/* LM */
.currentSeclm, .connectSeclm, .normalSeclm {
	color: #F2A648;
}
.connectSeclmu, .normalSeclmu {
	color: yellow;
	background-color: black;
}
.connectSeclm, .currentSeclm {
	background-color: #7B5121;
}
.connectSeclmu {
	box-shadow: 0px 0px 0px 4px #7B5121 inset;
}
.connectSeclm:hover, .connectSeclmu:hover {
	background-color: #6B6131;
}
.currentSeclm:hover {
	background-color: #8B7131;
}
.normalSeclm {
	background-color: #3E2911;
}

/* Starry background */
.stars {
	background-image: url(../../images/stars2.png);
}
