name: API Docs
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    name: Build and Deploy API Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Build API Docs
        uses: ./.github/actions/api-docs
      - name: Publish API Docs
        uses: JamesIves/github-pages-deploy-action@v4.7.1
        with:
          ssh-key: ${{ secrets.API_DOCS_DEPLOY_KEY }}
          repository-name: smrealms/api-docs
          branch: main
          folder: api-docs/build
          target-folder: docs
