name: Build Live

on:
  push:
    branches:
      - live

jobs:
  build-live:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push web
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: smrealms/smr:web

      - name: Build and push flyway
        uses: docker/build-push-action@v2
        with:
          context: ./db
          push: true
          tags: smrealms/smr:flyway
