name: Run Tests

on:
  # Run tests for any PRs.
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v2

      - name: Run tests
        run: |
          composer run start:integration-services
          composer run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: test/coverage.xml
