name: CI

on:
  # Run tests for pull requests or pushes to the main branch
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  # Use buildkit for faster builds
  DOCKER_BUILDKIT: 1
  BUILDKIT_PROGRESS: plain

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        uses: docker/build-push-action@v4
        with:
          context: .
          build-args: |
            NO_DEV=0
          tags: local/smr:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  phpunit:
    name: PHPUnit
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3
        with:
          # Needed by Codecov
          fetch-depth: 2

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image from cache
        uses: docker/build-push-action@v4
        with:
          context: .
          build-args: |
            NO_DEV=0
          tags: local/smr:latest
          cache-from: type=gha
          load: true

      - name: Setup test environment
        run: composer start:test-services

      - name: Run phpunit tests
        run: composer phpunit

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: test/coverage/clover.xml

  phpstan:
    name: PHPStan
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image from cache
        uses: docker/build-push-action@v4
        with:
          context: .
          build-args: |
            NO_DEV=0
          tags: local/smr:latest
          cache-from: type=gha
          load: true

      - name: Run static analysis
        run: composer phpstan

  phpcs:
    name: PHP_CodeSniffer
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image from cache
        uses: docker/build-push-action@v4
        with:
          context: .
          build-args: |
            NO_DEV=0
          tags: local/smr:latest
          cache-from: type=gha
          load: true

      - name: Run code sniffer
        run: composer phpcs
