name: Run Tests

on:
  # Run tests for pull requests or pushes to the master branch
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v2
        with:
          # Needed by Codecov
          fetch-depth: 2

      - name: Run tests
        run: |
          composer run start:integration-services
          composer run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: test/coverage.xml
